@import url(https://fonts.googleapis.com/css?family=Roboto:400,600);* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, button {
  padding: 0;
  margin: 0;
  border: none; }
  input:focus, button:focus {
    outline: none; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }

.back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.container {
  margin: auto; }

section {
  padding: 0 20px; }

.rect-outer {
  position: relative; }
  .rect-outer .rect-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.section-demo {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white; }
  .section-demo:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15); }
  .section-demo .title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    background: #78ca78;
    padding: 100px 50px; }
  @media (max-width: 1200px) and (min-width: 701px) {
    .section-demo.demo-1 .title {
      padding: calc(70 * ((100vw - 700px) / 500) + 30px) calc(30 * ((100vw - 700px) / 500) + 20px); } }
  @media (max-width: 700px) {
    .section-demo.demo-1 .title {
      padding:  30px 20px; } }
  @media (max-width: 1200px) and (min-width: 701px) {
    .section-demo.demo-1 .title {
      font-size: calc(30 * ((100vw - 700px) / 500) + 20px); } }
  @media (max-width: 700px) {
    .section-demo.demo-1 .title {
      font-size:  20px; } }
  .section-demo.demo-2 .title {
    width: 500px;
    height: 500px; }
    @media (max-width: 1200px) and (min-width: 701px) {
      .section-demo.demo-2 .title {
        height: calc(200 * ((100vw - 700px) / 500) + 300px); } }
    @media (max-width: 700px) {
      .section-demo.demo-2 .title {
        height:  300px; } }
    @media (max-width: 1200px) and (min-width: 701px) {
      .section-demo.demo-2 .title {
        width: calc(200 * ((100vw - 700px) / 500) + 300px); } }
    @media (max-width: 700px) {
      .section-demo.demo-2 .title {
        width:  300px; } }
