@mixin adaptive-padding($viewport-width-from, $viewport-width-to, $font-size-from, $font-size-to: null, $sticky: false) {

  @include adaptive-property('padding', $viewport-width-from, $viewport-width-to, $font-size-from, $font-size-to, $sticky)

}