.section-demo {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
  }


  .title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    background: #78ca78;
    padding: 100px 50px;
  }



  &.demo-1 {
    .title {
      @include adaptive-padding(1200, 700, 100 50, 30 20, true);
      @include adaptive-font-size(1200, 700, 50, 20, true);
    }
  }


  &.demo-2 {
    .title {
      width: 500px;
      height: 500px;

      @include adaptive-height(1200, 700, 500, 300, true);
      @include adaptive-width(1200, 700, 500, 300, true);
    }
  }
}